
module_2/.ipynb_checkpoints/stud_math-checkpoint.ipynb
module_3/.ipynb_checkpoints/main_task-checkpoint.csv
module_3/.ipynb_checkpoints/project_3-checkpoint.ipynb
module_3/.ipynb_checkpoints/project_3-checkpoint.ipynb
